$img-width:1200px;
$img-height: 780px;
// $text-color-normal: #bcbcb9;
$text-color-normal: #9c9c99;
$text-color-red: #e60d2e;
$text-color-grey: #8f8f8f;

linear-gradient-1 {
    background: 
        linear-gradient(
            to bottom, 
            rgba(255,255,255,0.15) 0%, 
            rgba(0,0,0,0.15) 100%),
        radial-gradient(
            at top center, 
            rgba(255,255,255,0.40) 0%, 
            rgba(0,0,0,0.40) 120%) 
        #989898;
    background-blend-mode: multiply,multiply;
}

